* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.color1 {
    background: #0077B6;
}


header {
    width: 1140px;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header .logo {
        width: 25%;
    }

        header .logo h1 {
            color: #ffffff;
        }

        header .logo span {
            color: #48CAE4;
        }


    header nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        header nav a {
            position: relative;
            padding: 8px 16px;
            overflow: hidden;
            color: #ffffff;
            transition: .5s;
        }

            header nav a .bottom_line {
                position: absolute;
                bottom: 0;
                left: -100%;
                height: 2px;
                width: 100%;
                background: #48CAE4;
                transition: .5s;
            }

a:hover .bottom_line {
    left: 0;
}


header nav a .top_line {
    position: absolute;
    top: 0;
    right: -100%;
    height: 2px;
    width: 100%;
    background: #48CAE4;
    transition: .5s;
}

a:hover .top_line {
    right: 0;
}

a:hover {
    color: #023E8A;
}

header .social {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    header .social .circle {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px #ffffff;
        margin-left: 16px;
        transition: .5s;
    }

        header .social .circle:hover {
            box-shadow: inset 0 0 0 2px #48CAE4;
            background: #0096C7;
        }
